@page
@model ProjectGhost.Pages.AdminModel
@{
	ViewData["Title"] = "Admin";
}


<header>
	<img id="headerLogo" src="~/images/ghostLogo.png" alt="Logo?" style="height:150px; width: 150px;" />
	<h2 id="headerTitle">Ghost Protocals</h2>
</header>
<nav class="tab">
	<button id="cameraScheduleBtn" class="tabOptions" onclick="openOptions(event, 'cameraSchedule')">Camera Schedule</button>
	<button id="miscOptionsBtn" class="tabOptions" onclick="openOptions(event, 'miscOptions')">Misc Options</button>
	<button id="contactUsBtn" class="tabOptions" onclick="openOptions(event, 'contactUs')">Contact Us</button>
</nav>

<!-- FOR CAMERA SCHEDULE TAB -->
<div id="cameraSchedule" class="options">
	<h1>schedule</h1>
	<table>
			@for (int j = 0; j < Model.dayOfWeek.Length; j++)
			{
				<div style="display: inline-block; margin: 25px;">
					<h3>@Model.dayOfWeek[j]</h3>
					<form action="/" method="post">
						<input type="radio" name="picVideo" value="pic">Pic  <input type="radio" name="picVideo" value="video">Video<br>
					</form>
					<tc>
						On Time:<select>
							@for (int i = 0; i < Model.timeOfDay.Length; i++)
							{
								<option value="@Model.timeOfDay[i]">@Model.timeOfDay[i]</option>
							}
						</select>
						<form action="/" method="post">
							<input type="radio" name="ampm" value="AM">AM  <input type="radio" name="ampm" value="PM">PM<br>
						</form>
						Off Time:
						<select>
							@for (int i = 0; i < Model.timeOfDay.Length; i++)
							{
								<option value="@Model.timeOfDay[i]">@Model.timeOfDay[i]</option>
							}
						</select>
						<form action="/" method="post">
							<input type="radio" name="ampm" value="AM">AM  <input type="radio" name="ampm" value="PM">PM<br>
						</form>
					</tc>
				</div>
			}
	</table>	

	length of recording range slider
	delay between recording range slider

	<h1>view/delete recordings/imgs</h1>
	<h3>Snapshots:</h3>
	<img src="http://placehold.it/200x200" alt="Alternate Text" />
	<h3>Videos:</h3>
	<img src="http://placehold.it/350x200" />
</div>



<!-- FOR MISC SETTINGS TAB -->
<div id="miscOptions" class="options" style="display:none;">
	<form id="miscOptionsForm" method="post" asp-page-handler="MiscOptions">
		<h1>Audio Settings</h1>
		<h3>Audio On/Off:</h3>
		<div class="toggleContainer">
			<input type="range" min="0" max="1" value="0" class="slider" name="audioToggle" id="AudioToggle">
		</div>
		<h3>Volumn:</h3>
		<div class="slidecontainer">
			<input type="range" min="1" max="100" value="50" class="slider" name="volume" id="VolumeControl">
		</div>

		<h1 class="marginTop">Camera Settings</h1>
		<h3>Contrast:</h3>
		<div class="slidecontainer">
			<input type="range" min="1" max="100" value="50" class="slider" name="contrast" id="ContrastSlider">
		</div>
		<h3>Brightness:</h3>
		<div class="slidecontainer">
			<input type="range" min="1" max="100" value="50" class="slider" name="brightness" id="BrightnessSlider">
		</div>

		<h1 class="marginTop">LED Options</h1>
		<h3>LED On/Off:</h3>
		<div class="toggleContainer">
			<input type="range" min="0" max="1" value="0" class="slider" name="ledToggle" id="LedToggle">
		</div>

		<h1 class="marginTop">Mic Settings</h1>
		<h3>Mic On/Off:</h3>
		<div class="toggleContainer">
			<input type="range" min="0" max="1" value="0" class="slider" name="micToggle" id="MicToggle">
		</div>

		<h1 class="marginTop">Proximity Settings</h1>
		<h3>Proximity On/Off:</h3>
		<div class="toggleContainer">
			<input type="range" min="0" max="1" value="0" class="slider" name="proximityToggle" id="ProximityToggle">
		</div>



		<div id="liveFeedDiv">			
			<div id="liveFeed">
				<img src="http://placehold.it/444x295" alt="Live feed" />
			</div>
			<div>
				<button id="btnApplyChanges">Sumbit Changes</button>
			</div>
		</div>
	</form>
</div>



	<!-- FOR CONTACT TAB -->
<div id="contactUs" class="options" style="display:none; text-align:center">	
	<A style="align-content:center;" HREF="mailto:protoGhost123@gmail.com?body= please be sure to include your username(email), phone number, and serial number.">Click Here To Email Us</A>	
</div>
